# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Virtual Environment
backend/venv/

# Flask
backend/instance/

# Vue
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/
frontend/.vscode/

# Environment Variables
.env

# Redis
dump.rdb